<h1 class="text-center mt-4">Article details</h1>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8 mt-4">
            <div class="card text-center shadow mb-2 bg-white rounded">
                <div class="card-header fst-italic">
                    <% if @article.user %>
                        <p>By <%= link_to @article.user.username, user_path(@article.user) %></p>
                        <%= link_to gravatar_for(@article.user), user_path(@article.user) %>
                    <% end %>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-success"><%= @article.title %></h5>
                    <div class="card-text"><%= simple_format(@article.description) %></div>
                     
                     <% if logged_in? && (current_user.admin? || @article.user == current_user) %>
                        <%= link_to("Edit", edit_article_path(@article), class: "btn btn-outline-info") %>
                        <%= link_to("Delete", article_path(@article), data: { turbo_confirm: "Are you sure?", turbo_method: :delete }, class: "btn btn-outline-danger") %>
                    <% end %>
                </div>
                <div class="card-footer text-muted">
                    <small>Created <%= time_ago_in_words(@article.created_at) %> ago - Updated <%= time_ago_in_words(@article.updated_at) %> ago</small>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-4 col-auto text-center">
        <%= link_to("Return to articles listing", articles_path, class: "btn btn-outline-secondary") %>
    </div>
</div>