<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-sm-10">
      <%= render 'shared/errors', obj: @category %>
      <%= form_with(model: @category, data: { turbo: false }, class: "shadow p-3 mb-3 bg-secondary rounded", local: :true) do |f| %>
          <div class="mb-3 row">
            <%= f.label :name, "Category name", class: "col-sm-2 form-label text-light" %>
            <div class="col-sm-10">
              <%= f.text_field :name, class: "form-control shadow rounded", placeholder: "Name of category" %>
            </div>
          </div>
          <div class="mb-3 col-auto text-center">
              <%= f.submit class: "btn btn-outline-light btn-lg" %>
          </div>
      <% end %>
      </div>
      <div class="mb-3 col-auto text-center">
        <% if action == 'create' %>
          <%= link_to("Cancel and return to categories listing", categories_path, class: "btn btn-outline-secondary") %>
        <% elsif action == 'update' %>
          <%= link_to("Cancel and return to category", category_path(@category), class: "btn btn-outline-secondary") %>
        <% end %>
      </div>
    </div>
</div>
