<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <%= link_to "Alpha Blog", root_path, class: "navbar-brand", id:"logo" %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to "Bloggers", users_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarArticles" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Articles
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarArticles">
              <li><%= link_to "Listing all articles", articles_path, class: "dropdown-item" %></li>
              <% if logged_in? %>
                <li><%= link_to "Create a new article", new_article_path, class: "dropdown-item" %></li>
              <% end %>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarArticles" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categories
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarArticles">
              <li><%= link_to "Listing all categories", categories_path, class: "dropdown-item" %></li>
              <% if logged_in? && current_user.admin? %>
                <li><%= link_to "Create a new category", new_category_path, class: "dropdown-item" %></li>
              <% end %>
            </ul>
          </li>
          <% if logged_in? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarCurrentUser" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <%= current_user.username %> <%= "(Admin)" if current_user.admin? %>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarCurrentUser">
                <li><%= link_to "View your profile", user_path(current_user), class: "dropdown-item" %></li>
                <li><%= link_to "Edit your profile", edit_user_path(current_user), class: "dropdown-item" %></li>
                <li><%= link_to "Delete your profile", user_path(current_user), class: "dropdown-item text-danger", data: {turbo_confirm: 'Are you sure?', turbo_method: :delete} %></li>
                <li><%= link_to "Logout", logout_path, class: "dropdown-item", method: :delete %></li>
              </ul>
          <% else %>
            <li class="nav-item">
              <%= link_to "Login", login_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" autocomplete="off">
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
      </div>
    </div>
</nav>
